header {
    padding: 50px;
    background-image: url(../img/business.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 50%;
    h1 {
        color: #fff;
    }
    h2 {
        font-size: 1.5rem;
        color: #fff;
    }
    form {
        margin-top: 50px;
        max-width: 400px;
    }
    input {
        margin-bottom: 10px;
    }
}

main {
    background-color: rgb(228, 227, 227);
}

.select {
    width: 49%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.card {
    margin-top: 1.2rem;
}

.result-container {
    padding-top: 2rem;
}

.loading-element {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: none;
    &.loading {
        display: block;
    }
}